<h1> Welcome to this pages </h1> 

<div class="container-fluid border">
 <div class="row">
      <div class="col-7 border">
           

      </div>
      <div class="col-7 border border-1 border-primary">
           <br>
           <h2> The variable is :{{name}}</h2>
           
           <br>
           <input type="text" (input)="onInputChange($event)" placeholder="Enter your name">
           
           <div>{{inputValue}}</div>
           <br>
           <h2> The text Box value is : {{displayval}}</h2>
           <br>
           <br>
           <button class="btn btn-primary" routerLink="/student" >click to Go</button>       
      </div>
 </div>
<router-outlet></router-outlet>
